<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
  {{obj.name}}

  <ul>
    <li *ngFor="let item of arr">  {{item}}
    </li>
  </ul>

  <p *ngIf="isTrue; then secondTemp  else firstTemp" >Hello</p>

 <ng-template #firstTemp>This is first template</ng-template>

 <ng-template #secondTemp>This is second template</ng-template>

  <br>
  <p *ngIf="myName == 'Shery'">True</p>
  
  <app-my-component></app-my-component>

  <a routerLink="/one">One</a>
  <a routerLink="/two">Two</a>

 <br>

 

 <router-outlet></router-outlet>


 <!-- pipes -->
 <h1>{{myName | uppercase}}</h1>

 <h1>{{myName | lowercase}}</h1>
 
 <h1>{{day}}</h1>
 <h1>{{day | date}}</h1>
 <h1>{{day | date: 'shortDate'}}</h1>
 <h1>{{day | date: 'fullDate' }}</h1>
 <!-- multiple pipes -->
 <h1>{{day | date: 'fullDate' | uppercase }}</h1>

<h1>{{arr | sort : 'ascending'}}</h1>
<h1>{{arr | sort : 'descending'}}</h1>


<!-- template driven forms -->

<form #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)">

  <input type="text" name="firstname" placeholder="firstname" ngModel>
  <br><br>
  <input type="text" name="lastname" placeholder="lastname" ngModel>
  <br><br>
  <select name="language" ngModel>
    <option value="C++">C++</option>
    <option value="Jave">Jave</option>
    <option value="Angular">Angular</option>
  </select>
  <br><br>

  <input type="submit" value="submit">
</form>

</div>
  
